<div class="mt-2 form1">
  <form method="post">
  <div class="mb-3">
    <label for="search-input" >Search</label>
    <input name="q" type="text" class="form-control" id="search-input" placeholder="Enter keywords ...">   
  </div>  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>